# --- CONFIGURAÇÕES DO BANCO DE DADOS ---
DATABASE_URL=postgresql://user:password@db:5432/church_db
DB_WHATSAPP_URL=postgresql://user:password@db_whatsapp:5432/evolution_db

# --- SEGURANÇA ---
SECRET_KEY=sua-chave-ultra-secreta-aqui
SALT=igreja-inteligente-salt-123

# --- EVOLUTION API (WHATSAPP) ---
EVOLUTION_API_URL=http://evolution:8080
EVOLUTION_API_KEY=sua-apikey-global-12345

# --- AMBIENTE ---
ENVIRONMENT=production # Mude para 'development' se necessário
