fastapi[all]
sqlalchemy
psycopg2-binary
pillow
python-dotenv
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
requests
apscheduler
alembic
gunicorn
# Testes e QA
pytest
httpx
pytest-asyncio
pytest-playwright
fpdf2
faker